<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{% block title %} - {% endblock %}PeChat - Web page including chat.</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/hover.zoom.js"></script>
    <script src="/static/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PeChat</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup/">Signup</a></li>
                <li><a href="/signin/">Signin</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        {% block content %}{% endblock %}
    </div> <!-- /container -->
</div><!-- /ww -->

<!-- +++++ Footer Section +++++ -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>I'm Hungry.</h4>
                <p>
                    <a href="http://www.amazon.co.jp/registry/wishlist/3EJUZJ20MYLBF" class="btn btn-default">Amazon欲しい物リスト</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="http://w32.jp/" class="btn btn-default">Homepage</a>
                    <a href="http://twitter.com/kmasaya" class="btn btn-default">Twitter</a>
                    <a href="http://mon0.hatenablog.jp/" class="btn btn-default">Blog</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About PeChat</h4>
                <p>PeChatはホームページやブログに埋め込めるチャットサービスです。ブログを見ている人とリアルタイムのお話はいかがでしょうか。</p>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>