{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="/static/image/user.png" alt="Katou Masaya">
        <h1>PeChatは俺が作ったんだ。</h1>
        <p>ブログを書き込むだけにしてないかい？一方通行なんてもったいない。もっと閲覧者と双方向的に関係を持たないと。</p>
        <p>何？コメントがあるって？Youはブログを見てコメントを書き込むかい？そんな時にはこれさ。PeChat。ブログにチャットを埋め込むサービスさ。</p>
        <p>PeChatを使ってナウなブログを目指そうぜ！！</p>
        <a href="/signup/" class="btn btn-lg btn-primary btn-block">新規登録</a>
    </div><!-- /col-lg-8 -->
</div><!-- /row -->
{% endblock %}